#app .fixed-btn[data-v-4702fbd1] {
    right: 30px;
    bottom: 30px;
    z-index: 999;
    color: #fff;
    background: #8ac78f;
    border: none;
    border-radius: 50%
}

.wrap[data-v-4702fbd1] {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f5f8fa
}

.wrap .fade-enter[data-v-4702fbd1] {
    opacity: 0
}

.wrap .fade-leave[data-v-4702fbd1] {
    opacity: 1
}

.wrap .fade-enter-active[data-v-4702fbd1] {
    transition: all 1s
}

.wrap .fade-leave-active[data-v-4702fbd1] {
    opacity: 0;
    transform: translateX(200px);
    transition: all .5s
}

#mobile-menu[data-v-1c0c5023] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 9999;
    transition: all .3s ease
}

#mobile-menu .mobile-nav[data-v-1c0c5023] {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #373737;
    z-index: 9999;
    transition: transform 1s cubic-bezier(.08, .84, .01, 1)
}

#mobile-menu .mobile-nav a[data-v-1c0c5023] {
    text-align: center;
    color: #fff;
    display: block;
    padding: 1em 5%;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #292929;
    cursor: pointer
}

#mobile-menu .mobile-nav a[data-v-1c0c5023]:hover {
    background-color: #8ac78f;
    color: #fff
}

#mobile-menu .mobile-nav .self[data-v-1c0c5023] {
    color: #fff
}

#mobile-menu .mobile-nav .self .list li[data-v-1c0c5023]:hover {
    background-color: #8ac78f;
    color: #fff
}

#mobile-menu.fade-enter[data-v-1c0c5023],
#mobile-menu.fade-leave-to[data-v-1c0c5023] {
    opacity: 0
}

#mobile-menu.fade-enter .mobile-nav[data-v-1c0c5023],
#mobile-menu.fade-leave-to .mobile-nav[data-v-1c0c5023] {
    transform: translateX(-220px)
}

.container-fluid .nav .nav-item a[data-v-1c0c5023] {
    margin-top: 10px;
    padding: 10px;
    color: #000;
    font-size: 16px
}

.container-fluid .nav .nav-item a span[data-v-1c0c5023] {
    font-size: 16px;
    margin-right: 4px
}

.container-fluid .nav .nav-item a[data-v-1c0c5023]:hover {
    color: #8ac78f
}

.container .nav .nav-item[data-v-1c0c5023] {
    margin-right: 30px
}

.container .nav .nav-item .nav-link[data-v-1c0c5023] {
    font-size: 18px;
    color: #000
}

.container .nav .nav-item .nav-link[data-v-1c0c5023]:hover {
    color: #8ac78f
}

.container .nav .nav-item .active-color[data-v-1c0c5023] {
    color: #8ac78f;
    border-bottom: 4px solid #8ac78f
}

.bottom[data-v-71fdecb4] {
    box-sizing: border-box
}

.bottom .card-block[data-v-71fdecb4] {
    padding: 20px 0
}

.bottom .card-block div[data-v-71fdecb4] {
    font-size: 18px;
    line-height: 30px;
    color: #979494
}

.article[data-v-71ec53ef] {
    box-sizing: border-box;
    width: 100%
}

.article .row[data-v-71ec53ef] {
    position: relative;
    margin: 0;
    box-sizing: border-box !important;
    background: #fff;
    padding: 30px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    transition: all .5s
}

.article .row .ribbon-zzsc-green[data-v-71ec53ef] {
    width: 85px;
    height: 85px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px
}

.article .row .ribbon-green[data-v-71ec53ef] {
    font-size: 16px;
    color: #333;
    text-align: center;
    text-shadow: hsla(0, 0%, 100%, .5) 0 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 130px;
    background-color: rgba(139, 211, 151, .479);
    background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
    color: #6a6340;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.article .row .ribbon-green[data-v-71ec53ef]:after,
.article .row .ribbon-green[data-v-71ec53ef]:before {
    content: "";
    border-top: 3px solid #b7be9959;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px
}

.article .row .ribbon-green[data-v-71ec53ef]:before {
    left: 0
}

.article .row .ribbon-green[data-v-71ec53ef]:after {
    right: 0
}

.article .row[data-v-71ec53ef]:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .03)
}

.article .row .message[data-v-71ec53ef] {
    margin-bottom: 8px
}

.article .row .message li[data-v-71ec53ef] {
    display: inline-block;
    margin-right: 6px;
    font-size: 12px;
    color: #555
}

.article .row[data-v-71ec53ef]:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.article .row[data-v-71ec53ef]:first-child {
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.article .row .card-text[data-v-71ec53ef] {
    font-size: 16px;
    line-height: 26px;
    color: #555;
    height: 50px;
    letter-spacing: 1px
}

.article .row .card-title[data-v-71ec53ef] {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.article .list-enter[data-v-71ec53ef] {
    transform: translateY(50px)
}

.article .list-enter-to[data-v-71ec53ef] {
    transform: translateY(0)
}

.article .list-enter-active[data-v-71ec53ef] {
    transition: transform .5s cubic-bezier(.19, .71, .36, 1)
}

.article .list-leave-active[data-v-71ec53ef] {
    transition: 0s
}

.split .breadcrumb-item[data-v-521f8bca] {
    font-size: 16px
}

.notice .card .card-header[data-v-1039ddce] {
    font-size: 20px;
    font-weight: 400
}

.notice .card .card-header .iconfont[data-v-1039ddce] {
    position: relative;
    right: 8px;
    font-size: 20px;
    color: #eb3232
}

.notice .card .card-block .list-group .list-group-item[data-v-1039ddce] {
    color: #555;
    border: none
}

.notice .card .card-block .list-group .list-group-item .title[data-v-1039ddce] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.notice .card .card-block .list-group .list-group-item[data-v-1039ddce]:first-child {
    font-weight: 700;
    color: #000
}

.notice .card .card-block .list-group .list-group-item[data-v-1039ddce]:hover {
    cursor: pointer;
    color: #8ac78f
}

.latest-article[data-v-dbcbc242] {
    margin-top: 30px
}

.latest-article .card-header[data-v-dbcbc242] {
    font-size: 20px
}

.latest-article .card-header .iconfont[data-v-dbcbc242] {
    position: relative;
    right: 10px;
    font-size: 20px
}

.latest-article .list-group[data-v-dbcbc242] {
    color: #555;
    font-size: 26px
}

.latest-article .list-group .title[data-v-dbcbc242] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.latest-article .list-group .list-group-item[data-v-dbcbc242]:hover {
    color: #8ac78f;
    cursor: pointer
}

.classfiy[data-v-2b32539e] {
    margin-top: 30px
}

.classfiy .card-header[data-v-2b32539e] {
    font-size: 20px
}

.classfiy .card-header .iconfont[data-v-2b32539e] {
    position: relative;
    right: 10px;
    font-size: 20px;
    font-weight: 700
}

.classfiy .card-block[data-v-2b32539e] {
    padding: 20px;
    color: #555
}

.classfiy .card-block div[data-v-2b32539e] {
    background: rgba(0, 0, 0, .03);
    width: 31%;
    transition: all .5s
}

.classfiy .card-block div[data-v-2b32539e]:hover {
    cursor: pointer;
    color: #fff;
    background: #8ac78f
}

.achievement .side-title[data-v-0303556c] {
    font-size: 20px;
    font-weight: 600
}

.achievement .side-title .iconfont[data-v-0303556c] {
    font-size: 24px
}

.achievement .side-collapse li[data-v-0303556c] {
    font-size: 16px;
    line-height: 30px;
    transition: all .4s
}

.achievement .side-collapse li[data-v-0303556c]:hover {
    cursor: pointer;
    background: #8ac78f;
    color: #fff
}

.achievement .content .jumbotron h1[data-v-0303556c] {
    font-size: 30px
}

.achievement .content .item[data-v-0303556c] {
    transition: all 1s
}

.achievement .content .item[data-v-0303556c]:hover {
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .03);
    transform: translateY(-10px);
    border: 1px solid #8ac78f
}

.achievement .content .item .name[data-v-0303556c] {
    font-size: 14px;
    font-weight: 700
}

.achievement .content .item .description[data-v-0303556c] {
    text-indent: 2em;
    font-size: 16px;
    line-height: 24px
}

.members .side-title[data-v-8d9c1686] {
    font-size: 16px;
    font-weight: 600
}

.members .side-title .iconfont[data-v-8d9c1686] {
    font-size: 18px
}

.members .side-collapse li[data-v-8d9c1686] {
    font-size: 16px;
    line-height: 30px;
    transition: all .4s
}

.members .side-collapse li[data-v-8d9c1686]:hover {
    cursor: pointer;
    background: #8ac78f;
    color: #fff
}

.members .description[data-v-8d9c1686] {
    font-size: 12px;
    color: #666
}

.members .username[data-v-8d9c1686] {
    margin-top: 10px;
    font-weight: 600;
    color: #333
}

.members .box[data-v-8d9c1686] {
    position: relative;
    perspective: 1000px
}

.members .box .box-img[data-v-8d9c1686] {
    transform: rotateY(0);
    transition: all .5s ease-in-out 0s
}

.members .box:hover .box-img[data-v-8d9c1686] {
    transform: rotateY(-90deg)
}

.members .box .box-img img[data-v-8d9c1686] {
    width: 100%;
    border-radius: 50%;
    height: auto
}

.members .box .box-content[data-v-8d9c1686] {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 40px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    transform: rotateY(90deg);
    transition: all .5s ease-in-out 0s
}

.members .box:hover .box-content[data-v-8d9c1686] {
    transform: rotateY(0)
}

.members .box .title[data-v-8d9c1686] {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase
}

.members .box .description[data-v-8d9c1686] {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    margin-left: 10px
}

.members .box .description[data-v-8d9c1686]:after,
.members .box .title[data-v-8d9c1686]:after {
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto
}

#detail .content {
    background: #fff
}

#detail .content .back {
    font-size: 18px;
    cursor: pointer
}

#detail .content .top .title {
    font-size: 22px;
    font-weight: 600
}

.self .active[data-v-0fe1fafb] {
    background: #c2dac4;
    border-radius: 20px;
    color: #fff
}

.tab-content .article-item[data-v-7a4d2ba6] {
    border-bottom: 1px solid rgba(0, 0, 0, .03)
}

.tab-content .article-item .card-title[data-v-7a4d2ba6] {
    font-weight: 800;
    font-size: 20px
}

.tab-content .article-item .card-text[data-v-7a4d2ba6] {
    font-size: 14px;
    text-indent: 2em
}

.tab-content .article-item .time[data-v-7a4d2ba6] {
    font-size: 14px
}

.tab-content .article-item[data-v-7a4d2ba6]:hover {
    background: rgba(0, 0, 0, .03)
}

.tab-content .article-item:hover .card-title[data-v-7a4d2ba6] {
    cursor: pointer
}

#pic[data-v-6bd3b0c6] {
    height: 300px
}

.wrapper[data-v-20c5010e] {
    background: #fff
}

.wrapper .card .card-text[data-v-20c5010e] {
    text-indent: 2em
}

.wrapper .card .card-text a[data-v-20c5010e] {
    color: #000
}

.wrapper .card .card-title[data-v-20c5010e] {
    font-size: 20px
}

.wrapper .card .card-text[data-v-20c5010e] {
    font-size: 12px;
    color: #333
}

#loading[data-v-e4257848] {
    position: absolute;
    left: 0;
    top: 170px;
    z-index: 1000;
    background: rgba(246, 250, 249, .945);
    width: 100%;
    height: 100%
}

.loading-style-4[data-v-e4257848] {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 200px auto
}

.loading-style-4 span[data-v-e4257848] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8ac78f;
    position: absolute;
    animation: loading-style-4-data-v-e4257848 1.04s ease-in-out infinite
}

@keyframes loading-style-4-data-v-e4257848 {
    0% {
        transform: scale(1.2);
        opacity: 1
    }

    to {
        transform: scale(.3);
        opacity: .5
    }
}

.loading-style-4 span[data-v-e4257848]:first-child {
    left: 0;
    top: 50%;
    margin-top: -10px;
    animation-delay: .13s
}

.loading-style-4 span[data-v-e4257848]:nth-child(2) {
    left: 14px;
    top: 14px;
    animation-delay: .26s
}

.loading-style-4 span[data-v-e4257848]:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -10px;
    animation-delay: .39s
}

.loading-style-4 span[data-v-e4257848]:nth-child(4) {
    top: 14px;
    right: 14px;
    animation-delay: .52s
}

.loading-style-4 span[data-v-e4257848]:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -10px;
    animation-delay: .65s
}

.loading-style-4 span[data-v-e4257848]:nth-child(6) {
    right: 14px;
    bottom: 14px;
    animation-delay: .78s
}

.loading-style-4 span[data-v-e4257848]:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    animation-delay: .91s
}

.loading-style-4 span[data-v-e4257848]:nth-child(8) {
    bottom: 14px;
    left: 14px;
    animation-delay: 1.04s
}

/*# sourceMappingURL=app.348733a6631e1e460c46bf702b5fcefe.css.map */